APP_COPYRIGHT_YEAR=2014	
APP_NAME=AssetFusionX	
BASE_URL=http://localhost:8080	
BETTER_AUTH_SECRET=Jtg7BQwPJYU7dn1LxhI5nMFQYYompJrM	
BETTER_AUTH_URL=http://localhost:8080	
COINLAYER_API=https://api.coinlayer.com/api	
COINLAYER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx	
DATABASE_FILE=file:C:/.../asset-fusion-x/database/main.db	
DEFAULT_ERROR_MSG=Something happened and we are working on it. Please, try again alter	
EMAIL_HOST=assetfusionx.com	
EMAIL_PASSWORD=xxxxxxxxxxxxxxxxxxxxx
EMAIL_PORT=465	
EMAIL_SERVICE=		
EMAIL_USER=info@assetfusionx.com	
GET_REQUEST_LIMIT=20	
MAX_ACCOUNTS=20	
MAX_DEPOSIT_AMOUNT=100000	
MAX_JOINT_PARTNERS=5	
MIN_DEPOSIT_AMOUNT=100	
MIN_PASSWORD_LENGTH=8	
NODE_ENV=production
PORT=8080	
